*{
    color: #871585;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b82598;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(60, 60, 60);
  text-align:left;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff;
}