h1 {
  font-weight: bold;
  font-size: 80;
  color: #000000;
  margin-bottom: -10;
}

body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #c2c2c2;
  color: #000000;
  text-align: center;
  font-size: 30;
  font-weight: 100;
  margin: -10;
}

.dark-mode {
  background-color: #343434;
  color: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

lable.switch{
  position: relative;
  animation: bg-animation 55s linear infinite;
  padding: 20px;
  text-align: center; 
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  height: 48px;
  width: 96px;
  top: -20;
  left: -110;
  right: 0;
  bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
  animation: bg-animation 55s linear infinite;
  border: #000000 solid 2px;
  font-size: 14;
}

.slider:before {
  position: absolute;
  color: #000000;
  content: "Dark Mode";
  height: 40px;
  width: 40px;
  left: 1px;
  bottom: 2px;
  animation: bg-animation 55s linear infinite;
  -webkit-transition: .5s;
  transition: .5s;
  border: #000000 solid 2px;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#Clock{
  font-size: 30;
  font-weight: 1000;
  padding: 12px 30px;
  width: 100px;
  border-radius: 25px;
  border: 6px solid #000000;
  color: #000000;
}

h1, ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border: 20px;
  border-color:  #ff0000;
  animation: bg-animation 55s linear infinite;
  padding: 30px;
  padding-top: 50px;
  margin-top: -10;
}

/* Dropdown Button */
.dropbtn {
  animation: bg-animation 55s linear infinite;
  color: rgb(0, 0, 0);
  padding: 56px;
  font-size: 30px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

@-webkit-keyframes bg-animation {
  0% {
      background-color: red;
    }
    5% {
      background-color: orange;
    }
    10% {
      background-color: yellow;
    }
    15% {
      background-color: greenyellow;
    }
    20% {
      background-color: green;
    }
    25% {
      background-color: turquoise;
    }
    30% {
      background-color: cyan;
    }
    35% {
      background-color: dodgerblue;
    }
    40% {
      background-color: blue;
    }
    45% {
      background-color: indigo;
    }
    50% {
      background-color: violet;
    }
    55% {
      background-color: magenta;
    }
    60% {
      background-color: deeppink;
    }
    65% {
      background-color: crimson;
    }
    70% {
      background-color: darkorange;
    }
    75% {
      background-color: coral;
    }
    80% {
      background-color: gold;
    }
    85% {
      background-color: chartreuse;
    }
    90% {
      background-color: orchid;
    }
    95% {
      background-color: salmon;
    }
    100% {
      background-color: red;
  }
}

@keyframes bg-animation {
  0% {
      background-color: red;
    }
    5% {
      background-color: orange;
    }
    10% {
      background-color: yellow;
    }
    15% {
      background-color: greenyellow;
    }
    20% {
      background-color: green;
    }
    25% {
      background-color: turquoise;
    }
    30% {
      background-color: cyan;
    }
    35% {
      background-color: dodgerblue;
    }
    40% {
      background-color: blue;
    }
    45% {
      background-color: indigo;
    }
    50% {
      background-color: violet;
    }
    55% {
      background-color: magenta;
    }
    60% {
      background-color: deeppink;
    }
    65% {
      background-color: crimson;
    }
    70% {
      background-color: darkorange;
    }
    75% {
      background-color: coral;
    }
    80% {
      background-color: gold;
    }
    85% {
      background-color: chartreuse;
    }
    90% {
      background-color: orchid;
    }
    95% {
      background-color: salmon;
    }
    100% {
      background-color: red;
    }
}

li.Home {
  float: left;
  font-size: 50;
}

li.Clock {
  float: left;
  padding-left: 20px;
}

li.LISU{
  float: right;
  padding-left: 20px;
}

li a {
  display: inline;
  color: #000000;
  text-align: left;
  offset-position: center;
  padding: 14px 16px;
  text-decoration: wavy;
  border-radius: 25px;
  border-width: 5px;
}

li a:hover {
  background-color: #ffffff;
}