*{
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 80;
}

p, h2, h3{
  color: white;
}

body{
  background-color: black;
  text-align: center;
  align-content: center;
  font-size: 30;
}

h1, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  animation: bg-animation 25s linear infinite;
  padding: 30px;
}

@-webkit-keyframes bg-animation {
  0% {
      background-color: red;
    }
    5% {
      background-color: orange;
    }
    10% {
      background-color: yellow;
    }
    15% {
      background-color: greenyellow;
    }
    20% {
      background-color: green;
    }
    25% {
      background-color: turquoise;
    }
    30% {
      background-color: cyan;
    }
    35% {
      background-color: dodgerblue;
    }
    40% {
      background-color: blue;
    }
    45% {
      background-color: indigo;
    }
    50% {
      background-color: violet;
    }
    55% {
      background-color: magenta;
    }
    60% {
      background-color: deeppink;
    }
    65% {
      background-color: crimson;
    }
    70% {
      background-color: darkorange;
    }
    75% {
      background-color: coral;
    }
    80% {
      background-color: gold;
    }
    85% {
      background-color: chartreuse;
    }
    90% {
      background-color: orchid;
    }
    95% {
      background-color: salmon;
    }
    100% {
      background-color: red;
  }
}

@keyframes bg-animation {
  0% {
      background-color: red;
    }
    5% {
      background-color: orange;
    }
    10% {
      background-color: yellow;
    }
    15% {
      background-color: greenyellow;
    }
    20% {
      background-color: green;
    }
    25% {
      background-color: turquoise;
    }
    30% {
      background-color: cyan;
    }
    35% {
      background-color: dodgerblue;
    }
    40% {
      background-color: blue;
    }
    45% {
      background-color: indigo;
    }
    50% {
      background-color: violet;
    }
    55% {
      background-color: magenta;
    }
    60% {
      background-color: deeppink;
    }
    65% {
      background-color: crimson;
    }
    70% {
      background-color: darkorange;
    }
    75% {
      background-color: coral;
    }
    80% {
      background-color: gold;
    }
    85% {
      background-color: chartreuse;
    }
    90% {
      background-color: orchid;
    }
    95% {
      background-color: salmon;
    }
    100% {
      background-color: red;
    }
}

li {
  float: left;
}

li a {
  display: inline;
  color: rgb(60, 60, 60);
  text-align: left;
  offset-position: center;
  padding: 14px 16px;
  text-decoration: wavy;
  border-radius: 25px;
  border-color: black;
  border-width: 5px;

}

li a:hover {
  background-color: #ffffff;
}